<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
       <div class="container">
            <h1>Welcome to Products</h1>
            <p>View hand-picked products by people in your community</p>
            <p>
                <a class="btn btn-primary btn-large" href="campgrounds/new" > Add New Product</a>
            </p>
        </div>
       
    </header>
     

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
         <% campgrounds.forEach(function(campground){ %>
            <div class="col-md col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" > 
                    <div class="caption">
                        <h4> <%= campground.name %> </h4>
                        <h4>$<%= campground.price %> </h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More info</a>
                    </p>
                </div>
               </div>
            <% }); %>
            </div>
       </div>  
        
        <div class="col-lg-12">
           
    
</div>
 
 
<% include ../partials/footer %>